<header class="navbar navbar-fixed-top navbar-inverse" >
	<div class="navbar-inner">
		<div class="container">
			<%= link_to "Microblog", '#', id: "logo" %>
			<nav class="nav pull-right" >
				<li><%= link_to "Home", root_path, class: "active" %></li>
				<li><%= link_to "Help", help_path               %></li>
				<li><%= link_to "Sign in", '#'               %></li>
			</nav>
		</div>
	</div>
</header>