<li id="<%= feed_item.id%>">
	<%= link_to gravatar_for(feed_item.user), feed_item.user %>
	<span class="user">
		<%= link_to feed_item.user.name, feed_item.user %>
	</span>
	<%=render 'shared/post_info', object: feed_item %>

</li>