<span class="content"><%= object.content %></span>
<span class="timestamp">
	Posted <%= time_ago_in_words(object.created_at) %> ago.
</span>
<% if current_user?(object.user) %>
	<%= link_to "delete", object, method: :delete,
												data: { confirm: "You sure?" },
												title: object.content %>
<% end %>