<div class="center hero-unit">
	<h1>Welcome to the Microblog App</h1>
	<h2>
	  This is the home page for the<a herf="http://railstutorial.org">Ruby on Rails Tutorial</a>
	  sample application
	</h2>
	<%= link_to "Sign up now!",signup_path,class:"btn btn-large btn-primary" %>
</div>