<% provide(:title, 'Home') %>
<!DOCTYPE html>
<html>
	<head>
		<title>Ruby on Rails Tutorial Sample App | <%= yield(:title) %></title>
	</head>
	<body>
		<h1>Sample App</h1>
		<p>
			This is the home page for the project in
			<a href="http://rubyunion.org/">Ruby Union prepare project</a>
		</p>
	</body>
</html>
