<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p> 
  The <a href="http://xiongbo.me">Ruby on Rails Tutorail</a>
  is a project to make a book and screencasts to teach web development with Ruby on Rails. 
</p>
